extends layout

block content
  div#wrapper
    .background-container.background-img
    div#header
      div#header-menu
        div#header-weather
          div#weather-city 阳江
          div#weather-icon.iconfont &#xe61f;
          div#weather-temp 13℃
        div#change-bg.trans
          span.change-bg-font.trans.glyphicon.glyphicon-refresh(aria-hidden="true")
      div#header-user
        div#user.header-user.trans Ren545992308
        div#logout.header-user.trans 登出
        div#about.header-user.trans 关于
  div.index-container
    div#search
      div.search-center
        form.form-inline.search-form
          div.form-group
            input.form-control.search-font#search-box(type="text" placeholder="Search")
          div.form-group
            select.form-control.search-select.search-font
              option 谷歌
              option 百度
              option 必应
          button.btn.btn-primary.search-btn-font(type="submit") 搜索
    div#website
      div.webItem
        a.webDesc.trans(href="#" target="_blank") 知乎
        div.webLink www.zhihu.com
      a.webItem 新浪微博
      a.webItem 腾讯网
      a.webItem 草榴你好啊
      a.webItem
      a.webItem
      a.webItem
      a.webItem

