extends layout

block content
  div#wrapper
    .background-container.background-img
    div#header
      div#header-menu
        div#header-weather
          div#weather-city 阳江
          div#weather-icon.iconfont &#xe61f;
          div#weather-temp 13℃
        div#change-bg.trans
          span.change-bg-font.trans.glyphicon.glyphicon-refresh(aria-hidden="true")
      div#header-user
        div#user.header-user.trans Ren545992308
        div#logout.header-user.trans 登出
        div#about.header-user.trans 关于

  div.container
  h1= title
  p Welcome to #{title}
