doctype html
html(lang="zh-CN")
  head
    meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title= title

    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
    block content




    div#backToTop
    div#changeBackground
    div.footer
      div.container
        div#copyright Copyright 2016 PureNavi · Designed by &nbsp;
          a(href="http://horacework.com") HoraceChan &nbsp;
          | · Powered by Express |
          a(href="#" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://purenavi.cc');")  设为首页
    script(src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
    script(src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="../javascripts/jquery.artwl.thickbox.js")
    script(src="../javascripts/index.js")